<!DOCTYPE HTML>
<html>
<head>
<script>document.createElement("footer");document.createElement("header");</script>
<style>body, html{ height:100%; margin:0; }.wrapper{ min-height:100%; }header{ height:100px; background:rgb(18, 134, 222); overflow:auto; display:block; }.content{ padding-bottom: 100px; }footer{ height: 100px; width:100%; background:rgb(8, 190, 231); margin-top:-100px; display:block; }a{text-decoration:none;font-size:20px;}</style>

</head>
<body>
<div class="wrapper">
<header>
<center>لندینگ ربات</header>

<div class="content">

<center><br>
با استفاده از ربات همگرام دیگه حوصلت سر نمیره و میتونی به صورت ناشناس دوست های جدید پیدا کنی 😍!  <br>
برنامه نویس : @shayanferdosi
<br>
<img src="https://toppng.com/uploads/preview/for-customize-icon-you-can-save-the-following-image-salesforce-bot-11568927238my0nqtuwtg.png" width="150" alt="اطلاعات عکس" /> 
<br>
<a href="https://t.me/hamgram_bot">لینک ربات</a>

</div></div>

<footer><center>ربات تلگرام همگرام</footer>
</body></html>